body{
	font-family: "montserrat", "avenir";
	background-color: #232323;
	margin: 0;
	display: block;
}

h1{
	background-color: steelblue;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 0px;
	margin-top: 0px;
	padding: 20px 0;
	font-weight: normal;
	color: white;
	line-height: 1.1;
}
button{
	text-transform: uppercase;
	outline: none;
	height:100%;
	font-weight: 700;
	letter-spacing: 1px;
	background: none;
	border: none;
	color: steelblue;
	font-size: inherit;
	transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
}

.square{
	/*background-color: orange;*/
	width: 30%;
	margin: 1.66%;
	padding-bottom: 30%;
	float: left;
	border-radius: 15%;
    transition: background 0.6s;
    -webkit-transition: background 0.6s;
    -moz-transition: background 0.6s;
}

.container{
	margin: 20px auto;
	width: 600px;
}
#stripe {
	background-color: white;
	text-align: center;
	height: 30px;
}
.selected{
	background-color: steelblue;
	color: white;
}
#colorDisplay{
	font-size: 200%;
}
#message{
	width:20%;
	display: inline-block;
}